<html>
    <head>
        <meta charset="UTF-8">
        <title>SLAMBOW</title>
        <base href="/">
        <script type="text/javascript">
          window.ENV = '<%= htmlWebpackPlugin.options.ENVIRONMENT %>';
          window.URL_BUCKET = '<%= htmlWebpackPlugin.options.URL_BUCKET %>';
          //window.hash = '<%=htmlWebpackPlugin.options.hash %>';
          window.API_URL = '<%=htmlWebpackPlugin.options.URL_API %>';
          window.FACEBOOK_ID = '<%=htmlWebpackPlugin.options.FACEBOOK_ID %>';
        </script>
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/css/style.css?v=<%=htmlWebpackPlugin.options.hash %>" rel="stylesheet" type="text/css">
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/css/cookie_regular.css?v=<%=htmlWebpackPlugin.options.hash %>" rel="stylesheet" type="text/css">
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/css/autocomplete.css?v=<%=htmlWebpackPlugin.options.hash %>" rel="stylesheet" type="text/css">
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/css/rzslider.min.css?v=<%=htmlWebpackPlugin.options.hash %>" rel="stylesheet" type="text/css">
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/fonts/opensans/open_sans-regular.css" rel="stylesheet" type="text/css">
        
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/fonts/cookieregular/cookie-regular.css" rel="stylesheet" type="text/css">
        <link href="<%= htmlWebpackPlugin.options.URL_BUCKET %>/fonts/roboto/roboto.css" rel="stylesheet" type="text/css">
        
        <script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDZOdwsf3vZEFQws7WldOWKeibaWiMjJCg"></script>
    </head>
    <body>
        <ui-view></ui-view>

        <script src="<%= htmlWebpackPlugin.options.URL_BUCKET %>/main.bundle.js?v=<%=htmlWebpackPlugin.options.hash %>"></script>
        <script src="//connect.facebook.net/en_US/sdk.js"></script>
    </body>
</html>